<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-zip"
    version="3.0.0">
  <engines>
    <engine name="cordova" version=">=2.4.0" />
  </engines>

  <name>cordova-plugin-zip</name>
  <description>Unzips zip files</description>

  <js-module src="zip.js" name="Zip">
    <clobbers target="zip" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/Zip.java" target-dir="src/org/apache/cordova" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="Zip">
        <param name="android-package" value="org.apache.cordova.Zip"/>
      </feature>
    </config-file>
  </platform>

</plugin>
